@charset "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, figure, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, main, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
  white-space: normal;
  border: 0;
  outline: 0;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #333;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.content_wrap {
  max-width: 1120px;
  margin: 0 auto;
}

.content_min_wrap {
  max-width: 960px;
  margin: 0 auto;
}

.content_flex {
  display: flex;
  flex-wrap: wrap;
}

.content_ttl h2 {
  margin-top: 70px;
  font-size: 38px;
  text-align: center;
  font-weight: bold;
  position: relative;
}
.content_ttl h2::before {
  content: "";
  display: block;
  width: 10%;
  border-top: 3px solid #333;
  position: absolute;
  top: 50%;
  left: 30%;
}
.content_ttl h2::after {
  content: "";
  display: block;
  width: 10%;
  border-top: 3px solid #333;
  position: absolute;
  top: 50%;
  left: 60%;
}
.content_ttl p {
  text-align: center;
}

.content_btn {
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 80px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #fff;
}

.jcsb {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.mt40 {
  margin-top: 40px;
}

.ptb40 {
  padding: 40px 0;
}

.header {
  border-bottom: 1px solid #707070;
}
.header_mv {
  background-image: url(https://placehold.jp/1600x715.png);
  background-size: cover;
  width: 100%;
  height: 715px;
  position: relative;
}
.header_logo {
  position: absolute;
  top: 50px;
}
.header_logo_ttl {
  font-size: 125px;
  font-weight: bold;
  color: #fff;
}
.header_logo_txt {
  font-size: 20px;
  color: #fff;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  transition: 1s;
}
.modal_inner {
  background: #ffffff;
  margin-top: 100px;
  width: 60%;
  padding: 10px;
}
.modal_img {
  width: 45%;
}
.modal_txt {
  width: 45%;
  font-weight: bold;
}
.modal_txt span {
  font-weight: normal;
}
.modal_txt p {
  padding: 10px;
}
.modal_txt h3 {
  padding: 10px;
}
.modal_close {
  position: relative;
  cursor: pointer;
}
.modal_close::before {
  content: "";
  display: block;
  border-top: 3px solid #333;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 19px;
}
.modal_close::after {
  content: "";
  display: block;
  border-bottom: 3px solid #333;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  right: 10px;
}

.show {
  display: block;
}

.works {
  background: #F7F7F7;
}

.feature_txt {
  width: 30%;
}

.about {
  color: #fff;
  background: linear-gradient(90deg, #667EEA, #764BA2);
  font-weight: bold;
}
.about .content_ttl h2::before {
  border-top: 3px solid #fff;
}
.about .content_ttl h2::after {
  border-top: 3px solid #fff;
}
.about_img {
  width: 50%;
  text-align: center;
}
.about_img img {
  border-radius: 50%;
}

.icon_ttl {
  font-weight: bold;
  font-size: 20px;
}

.twitter {
  width: 48%;
}

.note {
  width: 48%;
}

.footer {
  margin-top: 100px;
}
.footer_scroll {
  background: linear-gradient(90deg, #667EEA, #764BA2);
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
.footer_copy {
  background: #000;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}

.bg_box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, #667EEA, #764BA2);
}

.works_card {
  font-weight: bold;
  margin-right: calc((1120px - 300px * 3)/2);
  cursor: pointer;
  margin-top: 40px;
}
.works_card_img {
  position: relative;
}
.works_card_img img {
  width: 100%;
}
.works_card_img p {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
  width: 96%;
}
.works_card_ttl {
  text-align: center;
}
.works_card_txt {
  text-align: center;
  letter-spacing: 0.1em;
}
.works_card:nth-child(3n) {
  margin-right: 0;
}

.skill_card {
  box-shadow: 5px 5px 5px #aaa;
  width: 480px;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  margin-top: 40px;
  margin-right: calc(1120px - 480px * 2);
}
.skill_card_icon {
  text-align: center;
  font-size: 70px;
  background: -webkit-linear-gradient(45deg, #667EEA, #764BA2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skill_card_ttl {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.skill_card_txt {
  padding: 25px;
  color: #707070;
}
.skill_card:nth-child(2n) {
  margin-right: 0;
}

.nav_lists {
  justify-content: center;
}
.nav_list {
  margin: 20px;
}
.nav_list a {
  color: #333;
  display: block;
}