.header {
    border-bottom: 1px solid #707070;
    &_mv {
        width: 100%;
        position: relative;
        img {
            height: auto;
        }
    }
    &_logo {
        position: absolute;
        top: 50px;
    }
    &_logo_ttl {
        font-size: 8vw;
        font-weight: bold;
        color: #fff;
    }
    &_logo_txt {
        font-size: 2vw;
        color: #fff;
    }
}