.works {
    background: #F7F7F7;
}



.feature {
    &_txt {
        width: 30%;
        font-weight: bold;
        a {
            color: aqua;
        }
        dl {
            margin: 30px 0;
        }
    }
}
.about {
    color: #fff;
    background:$main-color;
    font-weight: bold;
    padding: 40px 0;
    .content_ttl h2::before {
        border-top: 3px solid #fff;
    }
    .content_ttl h2::after {
        border-top: 3px solid #fff;
    }
    &_img {
        width: 50%;
        text-align: center;
        img {
            border-radius: 50%;
        }
    }
}
.icon_ttl {
    font-weight: bold;
    font-size: 20px;
}
.twitter {
    width: 48%;
}
.note {
    width: 48%;
}